/* Small Devices - landscape phones */
@media (max-width: 567px){
    
  .chicken-container, .sushi-container, .beef-container {
    float: left;
  }
  .chicken-container {
    width: 100%;
    background-color: green;
    }
    .beef-container {
      width: 100%;
    }
    .sushi-container {
      width: 100%;
    }
  }
  
  /* Medium devices - tablet*/
  @media (min-width: 568px) and (max-width: 991px) {     /*اگر اینجا سایز دوتایی ندم بایه کدوم از ستونهای کناریش همپوشانی اتفاق میافته*/
    
    .chicken-container, .sushi-container, .beef-container {
      float: left;
    }
    .chicken-container {
      width: 50%;
    }
    .beef-container {
      width: 100%;
      background-color: orange;
    }
    .sushi-container {
      width: 50%;
    }
  }

  /* Large devices - desktop */
  @media (min-width: 992px) {
    
      .chicken-container, .sushi-container, .beef-container {
        float: left;
      }
      .chicken-container {
        width: 33%;
      }
      .beef-container {
        width: 33%;
      }
      .sushi-container {
        width: 33%;
        background-color: red;
      }
    }